*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body{
    background-color: #b9b4b4;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.left{
    justify-content: center;
    display: flex;
    align-items: center;
}

.logo{
    width: 80px;
}

h1{
    font-size: 40px;
    margin-left: 100px;
}

.header{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 30px;
    margin-right: 40px;
}

.header li{
    list-style: none;
}

.header li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 5px 10px;
    font-weight: 1000;
    border-radius: 10px;
}

.bar{
    display: none;
}

.header li a:hover{
    background-color: #3e0505;
    color: white;
}

.hidden{
    position: fixed;
    top: 50px;
    right: 40px;
    width: 250px;
    height: auto;
    background-color: rgba(0,0,0,0.3);
    border-radius: 10px;
    box-shadow: -8px 10px 10px rgba(0,0,0,0.5);
    backdrop-filter: blur(8px);
    display: none;

}

.hidden li{
    list-style: none;
}

.hidden li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 10px;

}

.hidden li a:hover{
    background-color: #3e0505;
    color: white;
}

@media only screen and (max-width: 760px){
    .header .mobile{
        display: none;
    }
    .bar{
        display: block;
    }
}